@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage {
    background-image: url("/label.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:center;
}

.inputbg {
    background-image: url("/inputbg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:center;
}

.framebg {
    background-image: url("/framebg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:center;
}
.textareabg {
    background-image: url("/textareabg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:center;
}
.tablebg {
    background-image: url("/topbg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:center;
}
